.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #24a0ed;
  padding: 40px;
  margin: 20px 200px 20px 200px;
}
h1 {
  padding-bottom: 20px;
}
label {
  padding-right: 25px;
  font-weight: 900;
}
.elements {
  display: flex;
  justify-content: space-between;
}

input {
  height: 27px;
  margin-bottom: 25px;
  margin-left: 20px;
  width: 176px;
  border: 1px solid #24a0ed;
  padding-left: 10px;
  border-radius: 4px;
}
input:hover {
  box-shadow: 0 0 9px #9ecaed;
}
input:focus {
  outline: 1.5px solid #7299b1;
}
.dateTime {
  height: 31px;
  width: 180px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
button {
  color: rgb(240, 230, 230);
  background-color: #24a0ed;
  height: 50px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0px 15px 0px 15px;
}
button:hover {
  box-shadow: 0px 15px 20px rgba(58, 68, 64, 0.4);
  transform: translateY(-4px);
  background-color: #2c79a8;
}
.result {
  display: flex;
  align-items: center;
  font-weight: 900;
}
.finalResult {
  font-size: 30px;
  color: #24a0ed;
  font-weight: 600;
  padding-left: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 100px;
    justify-content: flex-start;
  }
  .dateTime {
    height: 31px;
    width: 170px;
  }
}
